[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
lxml = "*"
urllib3 = "*"
aiofiles = "*"
aiohttp = "*"
multidict = {file = "multidict-6.0.2-py3-none-any.whl"}
pycryptodome = "*"
selenium = "*"
pymysql = "*"
pymongo = "*"
redis = "*"
sanic = "*"
sanic-cors = "*"
setuptools = "*"
scrapy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
